
#albumizrTag {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10pt;
    position: fixed;
    left: 12px;
    bottom: 12px;
    background: rgba(0,0,0,0.60);
    width: 64px;
    height: 64px;
    padding: 4px;
    border-radius: 8px;
    z-index: 10;
}

#albumizrTag .inner {
    width:64px;
    height:64px;
    background-size: 64px 64px;
    background-image:url(logo.svg);
    cursor: pointer;
}
#albumizrTag ul.menu {
    cursor: pointer;
    padding:4px 0px;
    margin:0;
    background:white;
    position:fixed;
    left: 40px;
    bottom: 40px;
    border-radius: 4px;
    border:1px solid black;
}

#albumizrTag ul.menu li {
    margin:0;
    padding:4px 22px 4px 6px;
    list-style: none;
    color:black;
    border-bottom:1px solid #ddd;
}
#albumizrTag ul.menu li.hover {
    background-color:yellow;
}

#albumizrTag ul.menu li:last-child
{
    border-bottom:none;
}


@media (max-width: 900px), (max-height:600px)  {
    #albumizrTag {
        width: 32px;
        height: 32px;
        padding: 2px;
        border-radius: 4px;
    }
    #albumizrTag .inner {
        width:32px;
        height:32px;
        background-size: 32px 32px;
    }
    #albumizrTag ul .menu {
        left: 32px;
        bottom: 32px;
    }
}
